// COLORS
$aqua:#23B794;
$black: #000000;
$blue: #F0F6FF;
$blue-medium: #006FFF;
$blue-dark:#011B33;
$blue-xdark:#01172C;
$gray:#E9E9E9;
$gray-dark: #656566;
$gray-medium: #A6A6A7;
$gray-light: #E9E9E9;
$gray-xdark: #565657;
$green: #23B794;
$orange: #FF7A00;
$purple: #7530B2;
$red: #D6215B;
$white: #FFFFFF;
$yellow: #FFB448;